/** reset **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*** common ***/

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-setting: "wdth" 100;
  }

ul {
    list-style: none;
}

li {
    
   height: 55px;
}

li:hover{
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
}

span{
    font-size: 17px;
}

.tasto-blu{
    background-color: #0061fe;
    padding: 10px 20px;
    color: #fff;
}



h1{
    font-size: 90px;
}

h3{
    font-size: 25px;
    padding-bottom: 20px;
}

/*** header ***/

header{
    padding: 25px 25px 0 25px;
    height: 80px;
    background-color: #fff;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 55px;
}

.header-nav>div.menu-sinistra{
    flex-grow: 2;
}

header .menu-destra ul,
header .menu-sinistra ul {
    font-size: 18px;
    gap: 30px;
}

div .menu-destra{
    text-align: end;
}

/*** container ***/
.container-alto {
    margin: 0 auto;
    max-width: 1380px;  
}


.menu {
    display: flex;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 300px;
}



/*** main ***/
.jumbo{
    margin-right: 5px;
    padding-top: 100px;
    height: 850px;
    background-color: #b4d0e6;
    box-shadow: 0 1px 3px 0px #777;
    font-size: 17px;
}
.jumbo-nav{
    display: flex;
    padding-top: 50px; 
    

}

.container-jumbo-img{
    flex-grow: 1;
}

.container-jumbo-img img{
    max-width: 100%;
}

.container-jumbo-p{
    width: 360px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.container-jumbo-p> div{
    padding-bottom: 50px;
}

.box-3{
    display: flex;  
}

.img-colleghi{
    flex-grow: 1;
}
.collechi{
    max-width: 100%;
}

.testo{
    width: 350px;
    flex-shrink: 0;
    padding-left: 50px;
    padding-top: 70px;
}

.tasto-bianco{
    padding: 10px 20px;
    border: 2px solid #000;
}

.pulsante-bianco {

    padding-top: 40px;
}

/*** section ***/

.freccia{
    font-size: 70px;
}
