/** reset **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*** common ***/

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

span{
    font-size: 17px;
}

.tasto-blu{
    background-color: #0061fe;
    padding: 10px 20px;
    color: #fff;
}
.tasto-blu:hover{
    filter: brightness(1.4);  
}
h1{
    font-size: 90px;
    padding-bottom: 70px;
}

h3{
    font-size: 25px;
    padding-bottom: 20px;
}

img {
    display: block;
    width: 100%;
}
/*** header ***/

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px 0px #777;
}

header ul{
    display: flex;
    gap: 40px;
    align-items: center;
}

.logo {
    border: 0px solid;
}

header li:hover{
    border-bottom: 2px solid black;
}

/*** container ***/
.container-alto {
    margin: 0 auto;
    max-width: 1380px;  
}

.container{
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 300px;
}



/*** main ***/

#jumbo{
    background-color: #b4d0e6;
    margin-bottom: 150px;
    font-size: 17px;
}

#jumbo .jumbo-nav{
    display: flex;
}
#jumbo .container-alto{
    position: relative;
    top: 100px;
}

.container-jumbo-img{
    width: 70%;
}

.container-jumbo-p{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.container-jumbo-p> div{
    padding-bottom: 50px;
}

.freccia{
    font-size: 70px;
}

.box-3{
    display: flex;  
}

.img-colleghi{
    flex-grow: 1;
}
.collechi{
    max-width: 100%;
}

.testo{
    width: 350px;
    flex-shrink: 0;
    padding-left: 50px;
    padding-top: 70px;
}

.tasto-bianco{
    padding: 10px 20px;
    border: 2px solid #000;
}

.pulsante-bianco {

    padding-top: 40px;
}

/*** footer ***/

.bg-black{
    background-color: #000;
    border-left: 2px solid #fff;
    height: 500px;
}

.link-info{
    background-color: antiquewhite;
    display: flex;
}

.li-foot{
    font-size: 18px;
}

