/** reset **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*** common ***/

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

span{
    font-size: 17px;
    padding: 5px  
}

.tasto-blu{
    background-color: #0061fe;
    padding: 10px 20px;
    color: #fff;
}
.tasto-blu:hover{
    filter: brightness(1.4);  
}
h1{
    font-size: 90px;
    padding-bottom: 70px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
}

h4{
    padding-top: 90px;
}

img {
    display: block;
    width: 100%;
}

/*** header ***/

header{
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px 0px #777;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
}

header ul{
    display: flex;
    gap: 40px;
    align-items: center;
}

.logo {
    border: 0px solid;
}

header li {
    height: 50px;
}

header li:hover{
    border-bottom: 2px solid black;
}

/*** container ***/
.container-alto {
    margin: 0 auto;
    max-width: 1380px;  
}

.container{
    margin: 0 auto;
    max-width: 1150px;
    padding-top: 150px;
}
/*** main ***/

/* jumbo */

#jumbo{
    background-color: #b4d0e6;
    margin-bottom: 150px;
    font-size: 17px;
}

#jumbo .jumbo-nav{
    display: flex;
}
#jumbo .container-alto{
    position: relative;
    top: 100px;
}

.container-jumbo-img{
    width: 70%;
}

.container-jumbo-p{
    width: 30%;
}

.container-jumbo-p> div{
    padding-bottom: 40px;
}

.freccia{
    font-size: 70px;
}

/* prima sezione */

.tasti {
    padding-top: 70px;
}

.finto-tasto-blu {
    height: 15px;
    display: inline-block;
    width: 15px;
    border: 4px solid #0061fe;
    border-radius: 50%;
}

.fatt{
    padding-right: 50px;
}

.finto-tasto {
    height: 15px;
    display: inline-block;
    width: 15px;
    border: 2px solid #777;
    border-radius: 50%;
}

.piani{
    padding-top: 80px;
    padding-bottom: 35px;
    display: flex;
    gap: 35px
}

.piani>div.piano {
    width: calc(100%/ 3);
    
}

.piano{
    border: 2px solid #777;
}

.piano-top {
    border-bottom: 2px solid #777;
    text-align: center;
}

.piano-mid {
    padding: 30px;
}

.prezzi{
    line-height: 2;
}

.grigio {
    color: #777;
}

.lista-icone{
    padding-top: 50px;
    padding-bottom: 50px;
}

i{
    padding-right: 10px;
}

.punti{
    padding-top: 30px;
}
.icone li {
    display: flex;
    align-items: start;
}

.quarta{
    border: 2px solid #777;
}

.mid{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.bott{
    display: flex;
    padding: 30px;
}

/* seconda sezione */

.box-3{
    display: flex;  
}

.img-colleghi{
    flex-grow: 1;
}

.testo{
    width: 650px;
    padding: 80px 60px;
}

.tasto-bianco{
    padding: 10px 20px;
    border: 2px solid #000;
}

.testo-colleghi {
    padding-top: 20px;
    padding-bottom: 40px
}

/* terza sezione */

.tabella-2{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
   
}

.tabella-2>div.colonne{
    width: calc(100% / 3);
    padding-bottom: 40px;
    padding-right: 30px;
}

.colonne>img {
    max-width: 100%;
    display: block;
}

p{
    padding-top: 20px;
}

/* quarta sezione */

.link-clienti{
    padding-top: 80px;
    padding-bottom: 150px;
}

.a-normal{
    color: #0000ec;
    text-decoration: underline;
}

/*** footer ***/

.bg-black{
    background-color: #000;
}

.link-info{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

.li-foot{
    font-size: 18px;
    line-height: 2;
}

#primo{
    padding-bottom: 18px;
}

.foot-1{
    color: #fff;
    font-size: 23px;
}

.foot {
    color: #fff;
}

.cambio-lingua{
    display: flex;
}   

.cambio-lingua> div{
    padding-top: 40px;
    padding-bottom: 60px;
    color: #fff;
    border-top: 2px solid #fff;
}